.site-footer {
	color: $ice;
	padding: em(138) 0 em(80);
	position: relative;
	z-index: 2;
	top: -7px;
	&:before {
		content: '';
		position: absolute;
		min-width: 1200px;
		clip-path: url(#wave);
		top: 0;
		height: 100%;
		width: 100%;
		background: url(img/footer-bg.png) no-repeat center/cover;
	}
}

.footer-clip {
	position: absolute;
	width: 0;
	height: 0;
}

.site-footer .wrapper {
	position: relative;
	@include flex-wrap(wrap);
	@include justify-content(space-between);
}

.licensing-footer {
	min-width: 100%;
	text-align: center;
	margin: em(10) auto em(100);
}

 .footer-col {
 	max-width: $col4;
 	padding-right: $gutterLarge;
 	&:last-of-type {
 		padding-right: 0;
 		text-align: right;
 	}
}

.site-footer h2 {
	color: $sky;
	text-shadow: 0 0 23px rgba(80,167,253,0.66);
}

.site-footer h4 {
	margin-bottom: em(27);
}

.site-footer p {
	color: $white;
	font-size: 0.875em;
	margin-bottom: 1.25em;
}

.site-footer .menu {
	padding: 0;
	margin: 1.5em 0 0;
}

.site-footer img {
	width: 100%;
	max-width: 335px !important;
}

.site-footer li {
	display: inline-block;
	margin-left: 5%;
	&:before {
		display: none;
	}

	&:first-of-type {
		margin-left: 0;
	}
}

.site-footer li a {
	display: inline-block;	
		&:hover {
		border: none;
	}
}

.site-footer [class^="icon-"], 
.site-footer [class*=" icon-"] {
	color: $lilac;
	font-size: 44px;
}

@media screen and (max-width: $screenSizeM) {
	.site-footer {
		padding: em(82) 0 em(40);
		top: -20px;
	}

	.site-footer .flex-parent {
		@include justify-content(space-evenly);
	}

	.licensing-footer {
		margin-bottom: em(90);
	}
	.footer-col {
		max-width: 100%;
		@include flex-basis(40%);
		text-align: center;
		padding: 0;
		margin-bottom: em(40);

		&:last-of-type {
			@include flex-basis (100%);
			text-align: center;
		}
	}
}

@media screen and (max-width: $screenSizeS) {
	.footer-col {
		@include flex-basis(100%);
	}

	.licensing-footer {
		margin: 0 auto em(60);
	}
}