.site-footer {
	background: $navy;
	color: $ice;
	padding: em(80) 0;
	position: relative;
	z-index: 2;

	&:before {
		content: '';
		position: absolute;
		top: -58px;
		left: 0;
		min-width: 1080px;
		height: 58px;
		width: 100%;
		background: url(img/wav3_navy.svg) no-repeat bottom center/cover;
	}
}

.site-footer .wrapper {
	@include flex-wrap(wrap);
	@include justify-content(space-between);
}

.licensing-footer {
	min-width: 100%;
	text-align: center;
	margin: em(10) auto em(100);
}

 .footer-col {
 	max-width: $col4;
 	padding-right: $gutterLarge;
 	&:last-of-type {
 		padding-right: 0;
 		text-align: right;
 	}
}

.site-footer h2,
.site-footer h3 {
	color: inherit;
}

.site-footer h4 {
	margin-bottom: em(27);
}

.site-footer p {
	font-size: 0.875em;
	margin-bottom: 1.25em;
}

.site-footer a:hover {
	border: none;
}

.site-footer .menu {
	padding: 0;
	margin: 1.5em 0 0;
}

.site-footer img {
	width: 100%;
	max-width: 335px !important;
}

.site-footer li {
	display: inline;
	margin-left: 5%;
	&:before {
		display: none;
	}

	&:first-of-type {
		margin-left: 0;
	}
}

.site-footer [class^="icon-"], 
.site-footer [class*=" icon-"] {
	color: $blue;
	font-size: 44px;
}

@media screen and (max-width: $screenSizeM) {
	.site-footer {
		padding: em(40) 0;
		&:before {
			min-width: 600px;
			height: 42px;
			top: -42px;
		}
	}

	.site-footer .flex-parent {
		@include justify-content(space-evenly);
	}

	.licensing-footer {
		margin-bottom: em(90);
	}
	.footer-col {
		max-width: 100%;
		@include flex-basis(40%);
		text-align: center;
		padding: 0;
		margin-bottom: em(40);

		&:last-of-type {
			@include flex-basis (100%);
			text-align: center;
		}
	}

	.site-footer li {}
}

@media screen and (max-width: $screenSizeS) {
	.site-footer {
		padding: 2em 0 0;
	}

	.footer-col {
		@include flex-basis(100%);
	}

	.licensing-footer {
		margin: 0 auto em(60);
	}
}