.site-header {
	padding-top: em(42);
	padding-bottom: em(60);
}

.site-header a {
	border: none;
}

.site-header .site-branding {
	flex-basis: 40%;
	line-height: 0;
	min-width: 180px;
}

.site-branding a img {
	max-width: 220px;
	width: 80%;
}

.site-description {
	@include leadStyle();
	margin: 0;
	line-height: 1.4;
	font-size: em(14);
}

.main-navigation, 
.menu-mini-navigation-container,
.menu-main-navigation-container,
.main-navigation .menu {
	width: 100%;
}

.main-navigation {
	position: relative;
	@include flex-direction(column);
	@include align-items(flex-end);
	@include justify-content(space-around);
}

.main-navigation .menu {
	@include flexbox();
	@include flex-basis(100%);
	@include justify-content(flex-end);
}

.menu-mini-navigation-container {
	@include order(-1);
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

#primary-nav {
	position: relative;
	right: -23px;
}

#primary-nav li {
	padding: 10px 23px 15px;
	border-radius: 10px 10px 0 0;
	white-space: nowrap;
}

#primary-nav a {
	white-space: nowrap;
	@include headlineStyle();
	@include headlineSize($headlineSizeXS);
}

#secondary-nav li {
	margin-left: 5%;
}

#secondary-nav a {
	@extend .accent;
	@extend .accent-small;
}

.menu-item-has-children {
	position: relative;
}

.menu-item-has-children:hover,
.menu-item-has-children.focus {
	background: $sky;
}

#primary-nav .sub-menu {
	position: absolute;
	top: 100%;
	display: none;
	left: 0;
	z-index: 99999;
	background-color: $sky;
	border-radius: 0 6px 6px 6px;
	width: 300px;
}

.sub-menu .sub {
	@include accentStyle();
	font-size: 13px;
	line-height: 1.3;
	display: block;
	white-space: normal;
	margin-top: 8px;
}

#primary-nav li:hover > .sub-menu,
#primary-nav li.focus > .sub-menu {
	display: block;
}

#primary-nav .sub-menu li {
	line-height: 3;
	margin: 20px 23px 35px;
	padding: 0;
	border-radius: 0;
	float: none;
}

#primary-nav .sub-menu a {
	display: block;
	font-size: 19px;
}

.main-navigation li {
	float: left;
	margin: 0;

	&:before {
		display: none;
	}
}

/* Small menu. */
.menu-toggle {
	padding: 0;
	background: transparent;
	line-height: 0;

	span {
		background-color: $sky;
		color: $blue;	
		font-size: 44px;
		margin: 0;
		width: 55px;
		height: 55px;
	}
}

.main-navigation div {
	display: none;
}

.menu-toggle,
.main-navigation.toggled div {
	display: block;
}

.main-navigation.toggled .menu-toggle span {
	background-color: $blue;
	color: $sky;
	&:before {
		content: "\e90f";
	}
}

.sub-menu-bttn {
	color: $blue;
	background-color: transparent;
	margin-left: 0.25em;
	position: relative;
}

@media screen and (max-width: $screenSizeL) {
	#primary-nav a {
		font-size: 1.125rem;
	}

	#primary-nav {
		right: -13px;
	}

	#primary-nav li {
		padding: 8px 13px;
	}

	#primary-nav .sub-menu a {
		font-size: 17px;
	}
}

@media screen and (max-width: $screenSizeM) {
	.site-header {
		padding: 1rem 0 3rem;
	}

	.site-header .site-branding {
		@include flex-basis(100%);
		max-width: 230px;
	}

	.main-navigation {
		width: auto;
		margin-left: auto;
		position: fixed;
		@include justify-content(center);
		right: 0;
		top: 0;
		z-index: 999;

		&.toggled {
			width: 100vw;
			min-height: 100vh;
			overflow: scroll;
			background: $sky;
		}
	}

	.menu-item-has-children:hover,
	.menu-item-has-children.focus {
		background: transparent;
	}

	#primary-nav .sub-menu {
		max-height: 0;
		overflow: hidden;
		position: relative;
		left: 20px;
		opacity: 0;
		transition: max-height 0.7s, opacity 0.7s;
	}

	#primary-nav .sub-menu li {
		float: none;
		background: transparent;
		padding-bottom: 10px;
	}

	#primary-nav li.toggled .sub-menu {
		opacity: 1;
	}

	#primary-nav li.toggled .sub-menu-bttn:before {
		content: "\e906";
	}	

	.main-navigation div {
		margin-top: 10%;
	}

	#primary-nav,
	#secondary-nav {
		width: 80%;
		margin: 0 auto;
		@include flex-direction(column);
	}

	.menu-mini-navigation-container {
		@include order(0);
	}

	.menu-toggle {
		position: fixed;
		right: 1.25rem;
		top: 1.25rem;
	}

	#primary-nav a {
		@include headlineSize($headlineSizeS);
	}

	#primary-nav li {
		margin-bottom: 1em;
	}

	#secondary-nav a {
		font-size: $accentSizeL;
	}
	#secondary-nav li {
		margin-bottom: 2em;
	}

	.sub-menu-bttn {
		line-height: 0;
		padding: 2px;
		bottom: -4px;
		&:before {
			display: inline-block;
			font-size: 27px;
			line-height: 1.3;
			margin-left: 3px;
		}
	}
}

@media screen and (max-width: $screenSizeS) {
	#primary-nav a {
		@include headlineSize($headlineSizeXS);
	}
	#primary-nav li {
		margin-bottom: 1em;
	}
	#secondary-nav a {
		font-size: $accentSizeM;
	}
	#secondary-nav li {
		margin-bottom: 0.75em;
	}

	.menu-toggle {
		top: 0.7rem;
	}
}

@media screen and (min-width: $screenSizeM + 1px) {
	.menu-toggle {
		display: none;
	}

	.main-navigation div {
		display: block;
	}

	.sub-menu-bttn {
		font-size: inherit;
		padding: 0;
		background: transparent;
		margin-left: 3px;
		bottom: -2px;
	}
}