.art {
	width: 100%;
	padding-top: 100%;
	background-color: $ivory;
	border-radius: 50%;
	position: relative;

	span {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		text-align: center;
	}
}

.hero.has-vid .hero-art {
	position: relative;
}

.hero.has-vid .spheres {
	height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.hero.has-vid .sphere {
	position: absolute;
}

.hero.has-vid .sphere:first-of-type {
	width: 21%;
	left: 88%;
	top: 88%;
}

.hero.has-vid .sphere:nth-of-type(2n) {
	width: 9%;
	left: 20%;
	top: -2%;
}

.hero.has-vid .sphere:nth-of-type(3n) {
	width: 27%;
	left: -3%;
	top: 62%;
}

.hero.has-vid .sphere:nth-of-type(4n) {
	width: 11%;
	left: 76%;
	top: 10%;
	z-index: 2;
}

.hero.has-vid .sphere:nth-of-type(5n) {
	width: 5%;
	left: 87%;
	top: 24%;
}

@media screen and (max-width: $screenSizeM) {
	.hero.has-vid .sphere:first-of-type {
		width: 26%;
		left: -15%;
		top: 57%;
	}

	.hero.has-vid .sphere:nth-of-type(2n) {
		width: 12%;
		left: 68%;
		top: -10%;
	}

	.hero.has-vid .sphere:nth-of-type(3n) {
		width: 10%;
		left: 6%;
		top: 46%;
	}

	.hero.has-vid .sphere:nth-of-type(4n) {
		width: 5.5%;
		left: 91%;
		top: 35%;
	}

	.hero.has-vid .sphere:nth-of-type(5n) {
		width: 12%;
		left: 92%;
		top: 25%;
	}	
}
