.sphere {
	position: relative;

	img {
		max-width: none;
		position: absolute;
		width: 163%;
		left: -32%;
		top: -32%;
		height: 163%;
	}
}

.art {
	width: 100%;
	padding-top: 100%;
	background-color: $ivory;
	border-radius: 50%;
	position: relative;

	span {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		text-align: center;
	}
}

.hero.has-vid .wrapper {

}
.hero.has-vid .hero-art {
	position: relative;
}
