body {
	@include bodyStyle;
	background-color: $white;
}

a {
	color: $orange;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		border-bottom: 2px solid $lightOrange;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

a.accent {
	border: none;
}

dd, dt, dl {
	margin: 0;
}

::selection {
	background-color: $sky;
}

dt {
	@extend .accent;
}

ul {
	list-style-type: none;
}

ol {
	list-style-type: none;
	counter-reset: li;
}

li {
	margin-bottom: 1.5em;
}

li:before {
	display: inline-block;
	margin-right: 30px;
}

ul li:before {
	content: '';
	height: 8px;
	width: 8px;	
	margin-left: -38px;
	text-align: right;
	background-color: $orange;
	border-radius: 50%;
}

ol li {
	counter-increment: li;
}

ol li:before {
	width: 20px;
	margin-left: -50px;
	content: counter(li)'.';
	color: $orange;
	font-weight: bolder;
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-button__link {
	display: inline-block;
	cursor: pointer;
	border: none;
	position: relative;
	line-height: 70px;
	font-size: 1.313rem;
	padding: 0 2.143em;
	background-color: $orange;
	color: $white;
	font-family: $headlineFamily;
	border-radius: 2em;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 0.157em;  
	-webkit-backface-visibility: hidden;
 	backface-visibility: hidden;  
	transition: transform $transition;
	
	&:active,
	&:hover,
	&:focus {
		border: none;
		outline: none;
		transform: scale(1.03);
	}

	span {
		font-size: 42px;
		display: inline-block;
		vertical-align: middle;
		margin-top: -8px;
		margin-right: -0.74em;
		margin-left: 0.35em;
	}
}

button:disabled,
input[type="button"]:disabled {
	cursor: not-allowed;
	background-color: $sand;
	color: $taupe;

	&:hover, &:focus {
		transform: none;
	}
}

.is-style-arrow .wp-block-button__link:after {
	font-family: 'icomoon';
	content: "\e90b";
	font-size: 42px;
	display: inline-block;
	vertical-align: middle;
	margin-top: -8px;
	margin-right: -0.74em;
	margin-left: 0.35em;
}

.is-style-small .wp-block-button__link { 
	font-size: 0.875rem;
	line-height: 50px;
	padding-left: 1.125rem;
	padding-right: 1.125rem;
}

.wp-block-button {
	margin: 0;
}
.wp-block-button .has-lime-background-color,
.button-poster,
.button-secondary {
	background-color: $lime;
}

.button-white {
	color: $navy;
	background-color: $ice;

	&:before {
		background: $blue;
	}
}

.button-webinar {
	background-color: $blue;
}

hr {
	border-style: none;
	border-bottom: $border;
	margin-bottom: em(30);
}

.bubble {
	position: relative;
	background: $ivory;
	color: $taupe;
	font-size: 38px;
	padding: 7px;
	border-radius: 50%;
	transition: $transition;
}

.bubble-small {
  font-size: 33px;
  padding: 5px;
}


@media screen and (max-width: $screenSizeM) {
	.bubble {
		font-size: 33px;
  		padding: 5px;
	}
}

.tag-bubble {
	@extend .accent;
	color: $taupe;
	border: none;
	@include flexbox();
	@include align-items(center);
	transition: $transition;
	&:hover {
		border: none;
		color: $blue;
	}

	.bubble {
		position: relative;
		margin-left: 1rem;
		transition: inherit;
	}

	&:hover .bubble {
		color: $blue;
		background: $sky;
	}
}

.tag-reverse .bubble {
	margin-left: 0;
	margin-right: 1rem;
}

button.tag-bubble {
	background-color: transparent;
	padding: 0;
	span {
		margin-right: 0;
	}
}


a.bubble {
	border: none;
}

a.bubble:hover,
a .bubble:hover {
	color: $blue;
	background: $sky;
}

.page-header,
.section-header {
	border-bottom: $border;
	width: 100%;
	margin-bottom: 6.25rem;
	@include flexbox();
	@include justify-content(space-between);
	@include align-items(center);
}

.page-header {
	padding-top: em(20);
}

.section-header h2 {
	margin-right: $gutterLarge *2;
}

.bg-blue .section-header,
.bg-blue .page-header,
.bg-blue hr {
	border-color: $sky;
}

.bg-beige .section-header {
	border-color: $sand;
}

.bg-blue {
	background-color: $ice;
	color: $blue;
	border-color: $sky;
}

.bg-blue a:hover {
	border-color: $sky;
}

.bg-blue li:before {
	color: $blue;
}

.bg-blue .site-description,
.bg-blue .lead {
	color: $blue;
}

.bg-blue .tag-bubble {
	color: $blue;
}

.bg-blue .bubble {
	background-color: $sky;
	color: $blue;
}

.bg-blue a.bubble:hover,
.bg-blue .tag-bubble:hover .bubble {
	background-color: $blue;
	color: $sky;
}

.bg-blue button:disabled,
.bg-blue input[type="button"]:disabled {
	background-color: $sky;
	color: $blue;
}

.bg-beige {
	background-color: $ivory;
}

.bg-beige .tag-bubble:hover {
	color: $taupe;
}

.bg-beige .bubble {
	background-color: $sand;
}

.bg-beige a.bubble:hover,
.bg-beige .tag-bubble:hover .bubble {
	background-color: $taupe;
	color: $ivory;
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
	width: auto !important;
}

@media screen and (max-width: $screenSizeL) {
	button,
	.button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	.wp-block-button__link {
		font-size: 1.25rem;
		line-height: 65px;
	}
	.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
		font-size: 1.25rem !important;
		line-height: 65px !important;
	}
}

/*Cookie Policy */
#cookie-notice {
	@include accentStyle();
	font-size: 11px;
}

#cookie-notice .cn-button {
	font-size: 12px;
	line-height: 3.5;
	&:hover {
		box-shadow: none;
	}
}

#cn-accept-cookie {
	@extend .button;
	@extend .button-white;
}

@media screen and (max-width: $screenSizeM) {
	.section-header,
	.page-header {
		margin-bottom: em(50);
		@include flex-wrap(wrap);
	}

	.page-header {
		padding-top: 0;
	}
}

@media screen and (max-width: $screenSizeS) {
	button,
	.button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	.wp-block-button__link {
		font-size: 0.875rem;
		line-height: 50px;
		padding-left: 1.125rem;
		padding-right: 1.125rem;

		&:not(.searchsubmit) [class^="icon-"], [class*=" icon-"] {
			font-size: 22px;
			margin-left: 0.2em;
			margin-top: -5px;
			margin-right: -0.5em;
		}
	}

	.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
		font-size: 0.875rem !important;
		line-height: 50px !important;
		padding-left: 1.125rem !important;
		padding-right: 1.125rem !important;
	}

	.is-style-arrow .wp-block-button__link:after {
		font-size: 22px;
		margin-left: 0.2em;
		margin-top: -5px;
		margin-right: -0.5em;
	}
}