select,
input[type="text"],
input[type="search"],
input[type="email"],
textarea {
	background-color: $ice;
	border: none;
	border-radius: 14px;
	padding: 1rem;
	line-height: 2;
	width: 100%;
	color: $navy;
	font-weight: 500;
	transition: $transition;
	&::placeholder {
		font-weight: 300;
		color: $taupe;
	}

	&:focus {
		outline: none;
		background-color: $sky;

		&::placeholder {
			color: $blue;
		}
	}
}

.post-type-archive-pi-knockouts{
	select,
	input[type="text"],
	input[type="search"],
	input[type="email"],
	textarea{
		padding: 0.5rem;
		border-radius: 5px;
		&::placeholder {
			color: $blue;
		}
	}
	label{
		margin: 0;
	}
}

form {
	text-align: left;
}

.search {
	position: relative;
	@include flexbox();
	@include align-items(center);
}

.search input[type="text"] {
	padding-right: 52px;
}

.icon-search {
	color: $taupe;
}

input[type="text"]:focus + .searchsubmit .icon-search{
	color: $blue;
}

button.searchsubmit {
	background-color: transparent;
	padding: 0;
	font-size: 43px;
	position: absolute;
	line-height: 0.75;
	right: 33px;

	span {
		position: relative;
		margin-left: 0;
	}

	&:hover {
		transform: scale(1.15);
	}
}

.searchquery {
	color: $navy;
}

label {
	@include accentStyle;
	font-size: $accentSizeS;
	color: $brown;
	margin-left: 14px;
	line-height: 1;

	&.focus {
		color: $blue;
	}
}

label + .required {
	color: $orange;
	margin-left: 2px;
}

label.required {
	color: $orange;	
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url('img/darr.svg');
	background-repeat: no-repeat;
	background-position: center right 1rem;

	&:focus {
		background-image: url('img/darr-blue.svg');
	}
}

.wpcf7 h3 {
	text-align: center;
}

.checkbox,
.wpcf7-list-item {
	position: relative;
	display: inline-block;
	margin: 0 2.75rem 1rem 0;
}

.wpcf7-list-item input,
.checkbox input {
	opacity: 0;
	width: 1.938rem;
	height: 1.938rem;
	margin-right: 13px;
}

.wpcf7-list-item-label,
.checkbox label {
	@include bodyStyle();
	letter-spacing: normal;
	font-weight: 500;
	text-transform: none;
	font-size: 1.063rem;
	line-height: 2.824;
	margin-left: 0;
}

.wpcf7-list-item-label:before,
.checkbox label:before {
	content: '';
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0.5rem;
	width: 1.938rem;
	height: 1.938rem;
	border-radius: 8px;
	background-color: $ivory;
}

.wpcf7-list-item-label:before,
.wpcf7-list-item-label:after {
	z-index: -1;
}

.checkbox input:checked + label,
.wpcf7-list-item input:checked + .wpcf7-list-item-label {
	font-weight: 500;
	&:after {
		font-family: 'icomoon';
		font-size: 1.938rem;
		content: "\e900";
		color: $navy;
		position: absolute;
		top: 0.5rem;
		left: 0.15rem;
		line-height: 1.15;
	}
}

#filter {
	height: em(100);
	z-index: 2;
	@include flexbox();
	@include align-items(center);
}

#filter .wrapper,
#filter .flex-parent,
#filter-content {
	height: 100%;
}

#filter-toggle {
	display: none;
	padding: 0;
}

#filter .flex-parent {
	@include align-items(center);
	@include justify-content(space-between);
	@include flex-wrap(wrap);
	height: 100%;
}

#filter .search {
	@include flex(1);
	max-width: 460px;
}

#filter.sticky {
	position: fixed;
	top: 0;
	margin: 0;
	width: 100%;
	background-color: $white;
}

#filter.sticky + .page-content {
	padding-top: em(100);
}

.searchresults {
	white-space: normal;
}

.searchresults .icon-close {
	margin-left: 15px;
}

.bg-blue input[type="text"],
.bg-blue input[type="search"],
.bg-blue textarea {
	background-color: $sky;

	&::placeholder {
		color: $blue;
	}

	&:focus {
		background-color: $white;
	}

	&:focus::placeholder {
		color: $taupe;
	}
}

.bg-blue select {
	background-color: $sky;
	background-image: url('img/darr-blue.svg');
	color: $navy;
}

.bg-blue .icon-search,
.bg-blue label {
	color: $blue;
}

.bg-blue .checkbox label:before {
	background-color: $sky;
}


.bg-blue .checkbox label {
	color: $blue;
}

.wpcf7:before {
    content: "";
    display: block;
    height: 150px;
    margin: -100px 0 -40px;
}

.wpcf7-response-output  {
	text-align: center;
	border-radius: 10px;
	font-size: 0.875rem;
	font-weight: bolder;
	max-width: 550px;
}

.wpcf7-validation-errors {
	background-color: $lightOrange;
	color: $orange;
	padding: 20px 30px;
	margin: em(5) auto em(30);
}

.wpcf7-mail-sent-ok {
	display: none !important;
}

.wpcf7-not-valid-tip {
	display: inline-block;
	width: 100%;
	font-size: 14px;
	font-weight: 400;
	color: $orange;
	margin-left: 14px;
	margin-top: 1px;
}

input[type="submit"].wpcf7-submit,
.wpcf7 .button {
	display: block;
	margin: em(40) auto 0;
}

.wpcf7 {
	@extend .wrapper;
	max-width: 650px !important;
}

.wpcf7-form p {
	margin-bottom: 1.5em;
}


@media screen and (max-width: $screenSizeM) {
	#filter {
		height: auto;
		min-height: em(75);
		padding: em(25) 0;
	}

	#filter-toggle {
		margin: 0;
	}

	#filter.sticky + .page-content {
		padding-top: em(75);
	}

	#filter-content {
		display: none;
		opacity: 0;
		margin-top: em(30);
	}

	#filter-toggle {
		@include flexbox();
	}

	#filter .search {
		margin: em(20) auto 0 0;
	}
	#filter .search,
	#filter .checkboxes {
		@include flex-basis(100%);
	}
}

@media only screen and (min-width: $screenSizeM + 1px) {
	#filter .checkbox {
		margin-bottom: 0;
	}
}
