@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?guv3tf');
  src:  url('fonts/icomoon.eot?guv3tf#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?guv3tf') format('truetype'),
        url('fonts/icomoon.woff?guv3tf') format('woff'),
        url('fonts/icomoon.svg?guv3tf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before   {content: "\e90e";}
.icon-close:before    {content: "\e90f";}
.icon-check:before    {content: "\e900";}
.icon-download:before {content: "\e901";}
.icon-facebook:before {content: "\e902";}
.icon-poster:before   {content: "\e903";}
.icon-larr:before     {content: "\e904";}
.icon-linkedin:before {content: "\e905";}
.icon-minus:before    {content: "\e906";}
.icon-out:before      {content: "\e907";}
.icon-brochure:before {content: "\e908";}
.icon-play:before     {content: "\e909";}
.icon-plus:before     {content: "\e90a";}
.icon-rarr:before     {content: "\e90b";}
.icon-twitter:before  {content: "\e90c";}
.icon-youtube:before  {content: "\e90d";}
.icon-hamburger:before {content: "\e910";}

.icon-webinar:before {
  content: '';
  width: 45px;
  height: 45px;
  background: url(img/icon-webinar.svg) no-repeat center/contain;
}