.popupaoc-link {
	@extend .button;
	&:after {
		content: "\e909";
		font-family: 'icomoon' !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	    font-size: 42px;
	    display: inline-block;
	    vertical-align: middle;
	    margin-top: -8px;
	    margin-right: -0.74em;
	    margin-left: 0.35em;
	}
}


.paoc-popup-modal-cnt {
  	padding: 0;
  	width: 100vw;
  	height: 100vh;
	position: relative;
	overflow: hidden;
}

.paoc-popup-modal-cnt iframe{ 
	position: absolute;
	width: 100%;
	height: 100%;
 }

@media screen and (max-width: $screenSizeS) {
	.popupaoc-link:after {
		font-size: 22px;
	    margin-left: 0.2em;
	    margin-top: -5px;
	    margin-right: -0.5em;
	}
}

.custombox-fullscreen .paoc-popup-close {
	top: 20px;
	right: 20px;
}

.paoc-popup-close {
	background-image: none;
	&:hover {
		border: none;
	}
	&:after {
		border-radius: 50%;
		margin-left: -28px;
		background-color: rgba(0,0,0,0.6);
		padding: 10px;
		color: $white;
		content: "\e90f";
		font-family: 'icomoon' !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	    font-size: 42px;
	    display: inline-block;
	    vertical-align: middle;
	}
}