.licensing-cta {
	background: $navy;
	color: $white;
	max-width: 450px;
	border-radius: $radius;
	padding: em(85) 8%;
	position: relative;
	margin-bottom: 90px;
	top: 40px;
	position: absolute;
	transition: 600ms ease-out;

	&:after {
		content: '';
		position: absolute;
		width: 65%;
		padding-top: 65%;
		right: -23%;
		bottom: -23%;
		background: url('img/cloud-small.svg') no-repeat bottom center/contain;
		z-index: -1;
	}
}

.licensing-cta h3 {
	color: inherit;
}

.licensing-cta .sphere {
	position: absolute;
}

.licensing-cta .sphere-orange {
	width: 105px;
	top: -40px;
	right: -20px;
}

.licensing-cta .sphere-green {
	width: 40px;
	top: -75px;
	right: 70px;
}

.licensing-cta .sphere-blue {
	width: 82px;
	bottom: -50px;
	left: 40px;
}

.cta-card {
	margin: em(150) auto em(100);
	padding: em(89) $gutterLarge * 1.5 em(63);
	background: $white;
	border-radius: $radius;
	position: relative;
}

.cta-card .spheres-1,
.cta-card .spheres-2{
	position: absolute;
}

.cta-card .sphere {
	position: absolute;
	z-index: -1;
}

.cta-card .sphere-orange {
	width: 128px;
	height: 128px;
	left: -69px;
	top: -65px;
}

.cta-card .sphere-green {
	top: 62px;
	left: -83px;
	width: 37px;
	height: 37px;
}

.cta-image {
	@include flex-basis($col5);
	padding-right: $gutterLarge;
}

.cta-content {
	@include flex-direction(column);
	@include justify-content(center);
	@include align-items(flex-start);
	@include flex-basis($col7);
	padding-left: $gutterLarge;
}

@media screen and (max-width: $screenSizeM) {
	.licensing-cta {
		position: relative;
	}
	.cta-card {
		@include flex-wrap(wrap);
		@include justify-content(center);
		padding-top: em(40);
		margin-bottom: em(20);
	}
	.cta-image, .cta-content {
		@include flex-basis(100%);
		padding: 0;
	}

	.cta-image {
		margin-bottom: em(20);
		max-width: 350px;
	}


	.cta-card .sphere-green {
		top: -70px;
		left: 70px;
	}
}

@media screen and (max-width: $screenSizeS) {
	.cta-card .sphere {
		z-index: -1;
	}
}