/* Featured Posts (Resources, News/Blog) */
.feat-items {
	position: relative;
	padding: 5% 0;
}

.feat-items .flex-parent {
	@include flex-wrap(wrap);
}

.feat-items .flex-half {
	@include flexbox();
	@include flex-direction(column);
	@include justify-content(space-between);
}

.feat-content {
	background: $white;
	padding: em(40) 10%;
}

.feat-primary .post-thumbnail {
	border-radius: $radius $radius 0 0;
}

.feat-primary .feat-content {
	border-radius: 0 0 $radius $radius;
}

.feat-secondary a {
	margin-bottom: $gutterLarge * 2;
	&:last-of-type {
		margin-bottom: 0;
	}
}
.feat-secondary .feat-content {
	border-radius: $radius;
}

.feat-secondary a:hover {
	border: none;
}
.feat-secondary h3,
.feat-secondary h4 {
	margin: 0;
}

.feat-resources:before,
.feat-resources:after {
	content: '';
	width: 100%;
	position: absolute;
	left: 0;
	min-width: 900px;
	height: 30px;
}

/*Featured News */
.feat-news .flex-half:first-child {
	padding-right: 0;
}

.feat-news .feat-content .accent {
	display: inline-block;
}

.feat-news .feat-primary .accent {
	@extend .accent-large;
}

.feat-news:before{
	content: '';
	width: 100%;
	position: absolute;
	left: 0;
	min-width: 900px;
	height: 40px;
	top: -35px;
	background: url('img/wav2_beige.svg') no-repeat bottom center/contain;
}

.feat-news .sphere {
	position: absolute;
}
.feat-news .sphere-green {
	width: 12%;
	top: -10%;
	left: -3%;
	z-index: 2;
}

.feat-news .sphere-blue {
	width: 3%;
	top: -10%;
	z-index: 1;
	left: 6%;
}


/* Featured Resource */
.feat-resources .feat-img {
	border-top-right-radius: $radius;
	border-top-left-radius: $radius;	
}

.feat-resources .feat-primary {
	padding-right: $gutterLarge * 0.75;
}

.feat-resources .feat-secondary .feat-content {
	padding-top: em(20);
}

.feat-resources .post-thumbnail {
	text-align: center;
	height: 75%;
	max-height: 375px;
	width: 75%;
}

.feat-resources .post-thumbnail img {
	margin-top: -5px;
	height: 100%;
}

.feat-secondary .tag {
	margin-left: -20%;
}

.feat-resources:before,
.feat-resources:after {
	content: '';
	width: 100%;
	position: absolute;
	left: 0;
	min-width: 900px;
}

.feat-resources:before {
	top: -48px;
	height: 50px;
	background: url('img/wav4_blue.svg') no-repeat bottom center/contain;
}

.feat-resources:after {
	bottom: -30px;
	height: 30px;
	background: url('img/wav1_blue.svg') no-repeat bottom center/contain;
	z-index: 1;
}

/* Featured Events */
.feat-events {
	padding: 6.25rem 0;
	position: relative;
	background: url(img/blob5.svg) no-repeat center left -50%/50%;
	background-attachment: fixed;
}

.timeline a {
	border: none;
	margin-bottom: em(20);
	@include flexbox();
	@include align-items(flex-start);
}

.feat-events .timeline {
	@include flex-wrap(wrap);
}

.timeline .speaker-tag svg {
	width: 79px;
	height: 79px;
}

.timeline .speaker-name {
	font-size: $accentSizeS;
}

.feat-events p {
	max-width: 635px;
}

.feat-events h4 {
	display: inline-block;
	line-height: 1.5;
	margin-right: $gutterLarge;
	margin-bottom: 0;
}

.feat-events dt, 
.feat-events dd {
	padding-top: em(100);
}

.feat-events dt {
	@include flex-basis($col3);
	text-align: right;
	line-height: 1.6;
	padding-right: $gutterLarge;
}

.feat-events dd {
	border-left: $border;
	padding-left: $gutterLarge * 2;
	@include flex-basis($col9);
	position: relative;

	&:after {
		display: inline-block;
		content: '';
		background-color: $ivory;
		width: em(25);
		height: em(25);
		border-radius: 50%;
		position: absolute;
		left: em(-13.5);
		top: em(115);
	}
}

.feat-events .sphere {
	position: absolute;
}

.feat-events .sphere-green {
	width: 10%;
	right: -2%;
	top: 10%;
}

.feat-events .sphere-blue {
	width: 3%;
	right: -1%;
	margin-top: 10%;
	top: 12%;
}

.feat-events:after {
	content: '';
    position: absolute;
    width: 25%;
    padding-top: 25%;
    right: -10%;
    bottom: -2%;
    min-width: 150px;
    min-height: 150px;
    z-index: 1;
    background: url(img/cloud-small.svg) no-repeat bottom center/contain;
}

@media screen and (max-width: $screenSizeM) {
	.feat-events .feat-event {
		@include flex-wrap(wrap);
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
	.feat-items .flex-half {
		@include flex-basis(100%);
		max-width: 500px;
		min-width: 0;
		padding: 0;
		margin: 0 auto em(40);
	}

	.feat-event {
		margin-bottom: em(70);
	}

	.feat-events dt {
		@include flex-basis(auto);
		background-color: $white;
		border-radius: $radius;
		padding: em(20) em(30);
		text-align: left;
	}

	.feat-events dd {
		@include flex-basis(100%);
		padding-top: em(25);
		padding-bottom: em(75);
		margin-left: 11%;
		&:after {
			display: none;
		}
	}
}

@media screen and (max-width: $screenSizeS) {
	.feat-items .sphere {
		display: none;
	}
	.feat-resources .feat-primary .feat-content {
		padding-left: 6%;
		padding-right: 6%;
	}	
	.feat-event {
		margin-bottom: em(40);
	}

	.timeline {
		margin-left: -$gutterLarge;
	}

	.feat-events dd {
		margin-left: 8%;
		padding-bottom: em(40);
	}

	.feat-events dt {
		padding-left: em(30);
		margin-left: em(-10);
	}

	.timeline a {
		display: block;
	}

	.feat-events h4 {
		display: inline;
		line-height: 1.6;
	}

	.timeline .bubble {
		font-size: 1.25rem;
	}

	.timeline .speaker-tag svg {
		margin-top: em(-45);
	}

	.timeline .speaker-info {
		margin-top: em(80);
		margin-left: 0;
		padding-left: em(10);
		padding-right: 0;
	}
}
