.svg-diagram {
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 70px;
}

.svg-diagram svg {
	width: 100%;
	height: auto;
}

.svg-medium {
	display: none;
}

.svg-mobile {
	display: none;
}

@media screen and (min-width: $screenSizeS + 1px) and (max-width: $screenSizeL) {
	.svg-diagram {
		max-width: 800px;
	}
	.svg-desktop {
		display: none;
	}

	.svg-medium {
		display: block;
	}
}


@media screen and (max-width: $screenSizeS) {
	.svg-diagram {
		margin-bottom: 15px;
	}

	.svg-desktop {
		display: none;
	}

	.svg-mobile {
		display: block;
	}
}