.home section:last-of-type {
	padding-bottom: em(100);
}

.home .site-footer {
	margin-top: em(-100);
}

@media screen and (max-width: $screenSizeM) {
	.home section:last-of-type {
		padding-bottom: em(70);
	}	
}