.pi-filters {
	margin-bottom: em(31);
	border-radius: $radius;
	background-color: $blue;
	overflow: hidden;
}

.archive .pi-filters {
	margin-left: -$gutterSmall;
	margin-right: -$gutterSmall;
}

.pi-filters form {
	@include justify-content(space-between);
	@include align-items(stretch);
	padding-left: $gutterSmall;
}

.pi-filters select {
	background-image: url(img/darr-blue.svg);
}

.pi-filters .form-container {
	@include align-items(center);
	flex-grow: 1;
}

.pi-filters .input-group {
	@include flex-basis(50%);
	margin-right: $gutterLarge;
	max-width: 362px;
	margin-bottom: 5px;
}

.pi-filters label{
	color: #FFF;
	font-size: 12px;
	margin-bottom: 17px;
	line-height: 16px;
	display: inline-block;
}

.pi-filters .button-group{
	background-color: $navy;
	padding: 44px $gutterSmall 0;
	border-radius: 0 $radius 0 0;
	flex-basis: 10%;
	text-align: center;
}

.pi-filters button,
.pi-filters .button{
	background-color: $white;
	color: $navy;
	padding: 0 1.5rem;
	line-height: 50px;
	font-size: 1.115rem;
}

.pi-filters .button-group button,
.pi-filters .button-group .button {
	display: inline-block;
	margin: auto;
	&.clear{
		background: none;
		color: $white;
		font-size: 0.915rem;
		padding: 3px 0;
	}
}

.pi-filters .searchclear {
	background-color: transparent;
	padding: 0;
	transition: none;
	&:hover {
		transform: none;
	}
}

.pi-filters .searchresults-wrap:not(:empty) {
	height: 55px;
	background-color: $sky;
}

button.pi-tag {
	display: inline-block;
	padding: 13px $gutterSmall;
	@include bodyStyle();
	color: $navy;
	font-size: 13px;
	font-weight: 500;
	background-color: transparent;
}

.pi-tag .bubble {
	margin: 0 0.6em 0.15em 0;
	font-size: 1.231em;
	padding: 0.125em;
	color: $sky;
	background-color: $blue;
}

.pi-models,
.pi-model ul {
	margin: 0 auto;
	padding: 0;
}

.pi-models li:before {
	display: none;
}

.pi-model {
	margin-bottom: 58px;
	position: relative;
}

.pi-model .table-row,
.pi-model-mouse .table-row {
	@include flexbox();
	@include justify-content(space-around);
	@include align-items(flex-end);
	@include align-items(center);
	width: 100%;
	border-bottom: 1px solid #EEE8FB;
}

.pi-model .table-row {
	border-bottom: 1px solid #EEE8FB;
	padding-top: 1.1rem;
	padding-bottom: 1.1rem;
	@include headlineStyle;
}

.pi-model .table-row *:first-child {
	@include flex-basis($col4);

}

.pi-model .table-row *:nth-child(2n) {
	@include flex-basis($col4);
	margin-left: $gutterLarge;
}

.pi-model .table-row *:nth-child(3n) {
	@include flex-basis($col4);
	margin-left: $gutterLarge;
	text-align: center;
}

@media screen and (max-width: $screenSizeM) {
	.pi-model .table-row *:first-child {
		@include flex-basis($col3);
	}

	.pi-model .table-row *:nth-child(2n) {
		@include flex-basis($col6);
	}

	.pi-model .table-row *:nth-child(3n) {
		@include flex-basis($col3);

	}
}

.pi-model-mouse {
	display: block;

	&--header {
		margin-top: -60px;
	}

	&.table-row {
		text-align: center;
		padding-bottom: 0;
		padding-top: 0;
		border-bottom: none;

		li {
			text-transform: none;
			margin: 0 5px;
		}
	}

	.table-row *:first-child {
		@include flex-basis($col4);
		margin-left: 0;
	}

	.table-row *:nth-child(2n) {
		@include flex-basis($col4);
		margin-left: 0;
	}

	.table-row *:nth-child(3n) {
		@include flex-basis($col4);
		text-align: center;
	}

	&--label {
		white-space: nowrap;
		vertical-align: top;

		&.table-row {
			color: $brown;
		}

		&::before {
			content: '';
			width: 100%;
			height: 20px;
			border-top: 1px solid #979797;
			border-left: 1px solid #979797;
			margin-right: 15px;
			margin-top: 5px;
		}
		&::after {
			content: '';
			height: 20px;
			width: 100%;
			border-top: 1px solid #979797;
			border-right: 1px solid #979797;
			margin-left: 15px;
			margin-top: 5px;
		}

		&.table-row {
			align-items: flex-start;
			border-bottom: none;
		}
	}

	.renmab.f0,
	.renmab.f1,
	.renmab.f2,
	.renmab.immunization,
	.renmab.antibody-discovery,
	.renmab.in-vitro,
	.renmab.in-vivo,
	.renmab.complete,
	.renlite.f0,
	.renlite.f1,
	.renlite.f2,
	.renlite.immunization,
	.renlite.antibody-discovery,
	.renlite.in-vitro,
	.renlite.in-vivo,
	.renlite.complete,
	.rennano.f0,
	.rennano.f1,
	.rennano.f2,
	.rennano.immunization,
	.rennano.antibody-discovery,
	.rennano.in-vitro,
	.rennano.in-vivo,
	.rennano.complete,
	.exclusive-partnership {
	 	background-repeat: no-repeat;
	 	background-size: 100%;
	 	max-width: 80px;
	 	max-height: 20px;
	 	display: inline-block;
	 	min-height: 20px;
	}

	.exclusive-partnership {
		background-image: url('img/exclusive-partnership.svg');
	}

	.renmab {
		&.f0 {
			background-image: url('img/renmab-f0.svg');
		}

		&.f1 {
			background-image: url('img/renmab-f1.svg');
		}

		&.f2 {
			background-image: url('img/renmab-f2.svg');
		}

		&.immunization {
			background-image: url('img/renmab-immunization.svg');
		}

		&.antibody-discovery {
			background-image: url('img/renmab-antibody.svg');
		}

		&.in-vitro {
			background-image: url('img/renmab-invitro.svg');
		}

		&.in-vivo {
			background-image: url('img/renmab-invivo.svg');
		}

		&.complete {
			background-image: url('img/renmab-complete.svg');
		}
	}

	.renlite {
		&.f0 {
			background-image: url('img/renlite-f0.svg');
		}

		&.f1 {
			background-image: url('img/renlite-f1.svg');
		}

		&.f2 {
			background-image: url('img/renlite-f2.svg');
		}

		&.immunization {
			background-image: url('img/renlite-immunization.svg');
		}

		&.antibody-discovery {
			background-image: url('img/renlite-antibody.svg');
		}

		&.in-vitro {
			background-image: url('img/renlite-invitro.svg');
		}

		&.in-vivo {
			background-image: url('img/renlite-invivo.svg');
		}

		&.complete {
			background-image: url('img/renlite-complete.svg');
		}
	}

	.rennano {
		&.f0 {
			background-image: url('img/rennano-f0.svg');
		}

		&.f1 {
			background-image: url('img/rennano-f1.svg');
		}

		&.f2 {
			background-image: url('img/rennano-f2.svg');
		}

		&.immunization {
			background-image: url('img/rennano-immunization.svg');
		}

		&.antibody-discovery {
			background-image: url('img/rennano-antibody.svg');
		}

		&.in-vitro {
			background-image: url('img/rennano-invitro.svg');
		}

		&.in-vivo {
			background-image: url('img/rennano-invivo.svg');
		}

		&.complete {
			background-image: url('img/rennano-complete.svg');
		}
	}
}

.pi-model li {
	display: inline;
	@include align-items(center);
	margin-bottom: 0;
	color: $brown;
}

.pi-model .table-header {
	height: 32px;
	padding-bottom: 13px;
	border-bottom: $border;
	margin: 0 0 21px;
	line-height: 1.25em;
}

.pi-model button.loader{
	display: block;
	margin: 3.5rem auto 6rem;
	background-color: transparent;
	color: $navy;
	line-height: 1.286;
	border-bottom: 2px solid;
	border-radius: 0;
	padding: 0.405em 0;
}

.pi-model h2 {
	margin-bottom: 80px;
}

.pi-model h3 {
	margin-bottom: 3px;
}

.pi-model p {
	margin-bottom: 0;
	line-height: 1.5;
}

.pi-model p:empty {
	display: initial;
}


.pi-border {
	border-bottom: $pi-border;
}

a.pi-title:hover {
	border-bottom: none;
}

.no-results {
	color: $orange;
	font-weight: 700;
	margin: 46px 0 80px;
	position: relative;
	padding-left: 30px;
	&:before {
		content: '';
		display: inline-block;
		position: absolute;
		left: 0;
		top: 5px;
		height: 20px;
		width: 20px;
		background: url('img/no-results-icon.svg') no-repeat center/100% auto;
	}			
}

.pi-loading {
	background-color: rgba($sky,0.8);
	height: 100vh;
	width: 100vw;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	display: none;
}

.pi-loading-wrap {
	height: 100%;
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
}

.pi-loading p {
	@extend h3;	
	&:before {
		display: inline-block;
		content: '';
		background-image: url('img/loading.svg');
		width: 1.25em;
		height: 1.25em;
		position: relative;
		top: 0.3em;
		margin-right: 0.5em;
		margin-left: -1.75em;
		animation: spin 5000ms infinite linear;
	}

	@keyframes spin {
	    from {
	        transform:rotate(0deg);
	    }
	    to {
	        transform:rotate(360deg);
	    }
	}
}

@media screen and (max-width: $screenSizeM) {
	.pi-model .table-header {
		font-size: 12px;
	}
} 

@media screen and (max-width: $screenSizeS) {
	.pi-model .table-header,
	.pi-filters label {
		font-size: 8px;
	}

	.pi-filters label {
		margin-bottom: 5px;
	}

	.pi-filters form {
		@include flex-wrap(wrap);
		padding: 0;
	}

	.pi-filters {
		margin: 0 0 em(16);
	}

	.pi-filters .form-container {
		padding: 12px 4px 5px; 
		@include align-items(stretch);
	}

	.pi-filters .input-group {
		margin-left: 4px;
		margin-right: 4px;
		@include flexbox();
		@include flex-direction(column);
		@include justify-content(flex-end);
	}

	.pi-filters .input-group input,
	.pi-filters select {
		font-size: 10px;
		height: 26px;
		padding: 6px;
	}

	.pi-filters select {
		background-size: 8px;
		background-position: center right 6px;
	}

	.pi-filters .button-group {
		@include flex-basis(100%);
		border-radius: 0;
		padding: 7px 4px 6px;
		text-align: center;
	}

	.pi-filters .button-group button,
	.pi-filters .button-group .button {
		margin: 0 6px;
		line-height: 23px;
		font-size: em(9.24);
	}

	.pi-filters .button-group button.clear {
		font-size: em(9.24);
		font-weight: 300;
	}

	.pi-filters .searchresults-wrap:not(:empty) {
		height: 26px;
	}

	button.pi-tag {
		font-size: 10px;
		padding-top: 0;
		top: -5px;
		position: relative;
		padding-top: 3px;
		padding-bottom: 3px;
	}

	.pi-model h2{
		@include headlineSize($headlineSizeXS);
		margin-bottom: 60px;
	}

	.pi-model {
		margin-top: 28px;
		margin-bottom: 30px;
	}

	.pi-model .table-row {
		margin-bottom: em(20);
		margin: 0;
	}

	.pi-model .table-row.table-header {
		padding-bottom: 8px;
		border-width: 2px;
		margin: 0;
	}

	.pi-model h3 {
		font-size: 14px;
		margin-bottom: 0;
	}

	.pi-model {
		font-size: 12px;
	}

	.pi-model button.loader {
		font-size: 14px;
		margin-top: 20px;
		margin-bottom: 50px;
	}

	.no-results {
		font-size: 14px;
		margin: 0;
		padding-left: 24px;
		&:before {
			width: 1em;
			top: 0;
		}
	}
}

/* Landing Page */
.lander-filters {
	max-width: 751px;
	margin-left: auto;
	margin-right: auto;
}

.lander-filters .form-container {
	padding-top: 23px;
	padding-bottom: 23px;
	@include justify-content(center);
}

.lander-filters .input-group {
	@include flex-basis(100%);
	max-width: 253px;
	margin: 0;
}

.lander-filters .button-group {
	@include flex-basis(35.82%);
	padding-top: 35px;
	padding-bottom: 35px;
}

.lander-filters input {
	font-size: 12px;
	padding: 5px 13px;
	line-height: 31px;
	border-radius: 6px;
	background-color: $sky;
	&::placeholder {
		color: $blue;
	}
}

.lander-filters label {
	margin-left: 0;
	display: block;
}

@media screen and (max-width: $screenSizeS) {
	.lander-filters .input-group {
		max-width: 340px;
		padding: 0; 
	}

	.lander-filters .form-container {
		 padding: 12px 8px 10px;
	}

	.lander-filters .button-group {
		@include flex-basis(100%);
		padding-top: 0;
		padding-bottom: 6px;
	}
}

.pi-cats-wrap {
	padding-top: 94px;
	padding-bottom: 100px;
}

.pi-cats {
	border-radius: $radius;
	text-align: center;
	padding: 32px 4.4444% 44px;
}

.pi-cats h3 {
	line-height: 47px;
}

.pi-cats .flex-parent {
	@include flex-wrap(wrap);
	@include justify-content(space-between);
	max-width: 846px;
	margin: 34px auto 7px;
}

.pi-cats .flex-parent a {
	@include flex-basis(31.087%);
	background-color: $sky;
	margin-bottom: 37px;
	border: none;
	color: $navy;
	line-height: 20px;
	padding: 15px;
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	min-height: 70px;
	border-radius: 3px;
}

.pi-cats .flex-parent span {
	max-width: 180px;
	font-weight: 500;
}

.pi-cats .button {
	background-color: $navy;
	color: $ice;
	width: 100%;
	max-width: 848px;
}

.pi-cats .button .icon {
	margin-left: 0;
	margin-right: 0;
	color: $ice;
}

@media screen and (max-width: $screenSizeM) {
	.pi-cats-wrap {
		padding-top: 43px;
		padding-bottom: 50px;
		width: 100%;
	}
}

@media screen and (max-width: $screenSizeS) {
	.pi-cats {
		padding-top: 30px;
		padding-bottom: 33px;
	}

	.pi-cats h3 {
		margin-bottom: 15px;
	}

	.pi-cats .flex-parent {
		margin-top: 15px;
		margin-bottom: 19px;
	}

	.pi-cats .flex-parent a {
		@include flex-basis(100%);
		margin-bottom: 10px;
		padding: 10px;
		min-height: 0;
	}

	.pi-cats .flex-parent span {
		max-width: 235px;
	}

	.pi-cats .button {
		font-size: 14px;
		text-align: center;
		line-height: 18px;
		padding: 14px 66px 16px;
		position: relative;
	}

	.pi-cats .button .icon	{
		position: absolute;
		left: 19px;
		top: 18px;
		font-size: 42px;
	}

	.pi-model-mouse--header {
		margin-top: -55px;
	}
}

.pi-stats {
	text-align: center;
	margin-bottom: 72px;
}

.pi-stats h2 {
	margin-bottom: 17px;
}

.pi-stats .flex-parent {
	margin-left: -42px;
	margin-right: -42px;
	@include justify-content(center);
	@include align-items(flex-start);
	@include flex-wrap(wrap);
}

.pi-stats .stat-col {
	margin-right: 19px;
	margin-left: 19px;
	max-width: 16.6666%;	
}

.pi-stats .stat {
	padding: 0 23px;
	display: inline-block;
	color: $navy;
	border-radius: $radius;
	transition: 0.3s;
	margin-bottom: 10px;
	&:hover {
		background-color: $ice;
	}
}

.pi-stats .stat h3 {
	color: inherit;
	font-size: 108px;
	line-height: 1.287;
	margin: 0;
}

.pi-stats .stat p {
	max-width: 121px;
	font-weight: bold;
	color: inherit;
	margin: 0 auto 30px;
}

.pi-stats .private {
	color: $orange;
	&:hover {
		background-color: rgba($lightOrange, 0.3);
	}
}


@media screen and (max-width: 1180px) {
	.pi-stats .stat-col {
		max-width: 31%;
	}

}

@media screen and (max-width: $screenSizeM) {
	.pi-stats .stat-col {
		@include flex-basis(20%);
	}

}

@media screen and (max-width: $screenSizeS) {
	.pi-stats {
		margin-bottom: 28px;
	}

	.pi-stats .flex-parent {
		margin-left: -16px;
		margin-right: -16px;
	}

	.pi-stats .stat-col {
		@include flex-basis(28%);
		margin-left: 8px;
		margin-right: 8px;
	} 

	.pi-stats .stat {
		padding-left: 8px;
		padding-right: 8px;
		max-width: 102px;
	}

	.pi-stats h2 {
		font-size: 26px;
		margin-bottom: 36px;
	}

	.pi-stats .stat h3 {
		font-size: 52px;
	}

	.pi-stats .stat p {
		font-size: 12px;
		margin-bottom: 20px;
	}
}


/* Project Integrum Footer */
.pi-footer {
	position: relative;
	padding: em(70) 0 em(140);
	margin-top: em(200);
}

.pi-footer-title {
	text-align: center;
	margin-bottom: 1.5em;
}

.pi-footer:before {
	content: '';
	position: absolute;
	height: 78px;
	top: -67px;
	min-width: 1000px;
	width: 100%;
	left: 0;
	background: url('img/wav2_beige.svg') no-repeat bottom center/cover;
}

.pi-footer:after {
	content: '';
	position: absolute;
	width: 30%;
	min-width: 180px;
	min-height: 180px;
	padding-top: 20%;
	right: -10%;
	top: -22%;
	background: url('img/cloud-small.svg') no-repeat bottom center/contain;
}

.pi-footer .flex-parent {
	@include align-items(center);
}

.pi-footer .flex-half {
	@include flex-basis($col6);
}

.pi-footer-img {
	overflow: hidden;
	padding-right: 0;
	margin-right: $gutterLarge;
	border-radius: $radius;
}

.pi-footer-img svg {
	max-width: 108%;
	height: auto;
	display: block;
}

.pi-footer-content h6 {
	@include leadStyle;
}

@media screen and (max-width: $screenSizeM) {

	.pi-footer {
		padding: em(40) 0 em(80);
		margin-top: em(80);
		z-index: -1;
	}
	.pi-footer .flex-parent {
		@include flex-wrap(wrap);
	}
	.pi-footer .flex-half {
		padding: 0;
		@include flex-basis(100%);
	}

	.pi-footer .flex-half:first-child {
		margin-bottom: em(40);	
	}

	.pi-footer-img svg {
		width: 100%;
	}
}

.pi-model-mouse.table-row,
.table-row .pi-model-mouse, 
.pi-model-mouse.table-row div,
.pi-model-mouse.table-row li {
	margin-left: 0 !important;
}