@import "variables";
@import "mixins";
@import "editor/elements";
@import "editor/colorways";

.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4, 
.editor-styles-wrapper h5, 
.editor-styles-wrapper h6 {
	font-family: $headlineFamily;
	font-weight: 700;
}

.editor-styles-wrapper .wp-block {
	max-width: 1080px;
}

.editor-styles-wrapper .is-style-lead {
	font-family: $headlineFamily;
	font-weight: 600;
	font-size: $leadSizeM;
}

.editor-styles-wrapper p {
	margin-top: 0;
	margin-bottom: 2em;
	line-height: 2;
	font-family: $bodyFamily;
	font-weight: 400;
	line-height: 1.875;
}

.editor-styles-wrapper .is-style-accent {
	font-family: $accentFamily;
	text-transform: uppercase;
	letter-spacing: 0.128696em;
  	line-height: 1.6;
  	font-size: $accentSizeM;
	margin-bottom: 0.75rem;
	line-height: 1.4;
}

.licensing-cta {
	background: $navy;
	color: $white;
	text-align: center;
	max-width: 450px;
}

.licensing-cta .sphere {
	display: none;
}