@charset "UTF-8";
/* Layout */
/* Colors */
/* Fonts */
/*60px*/
/*50px*/
/*37px*/
/*30px*/
/*22px*/
/*28px*/
/*14px*/
/*17px*/
/*23px*/
/* Misc */
/* Typography Mixins */
/* Flexbox Cross-Browser Support */
/* Groups */
.has-white-background-color h1,
.has-white-background-color h3 {
  background: linear-gradient(270deg, #022C77 2%, #031220 100%) no-repeat top left/cover;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.has-white-background-color h2 {
  color: #C0ACE9;
}

.has-white-background-color p,
.has-white-background-color p.is-style-lead {
  color: #8E8B8A;
}

.wp-block-button__link {
  display: inline-block;
  cursor: pointer;
  border: none;
  position: relative;
  line-height: 70px;
  padding: 0 2.143em;
  background-image: linear-gradient(225deg, #FF8B68 0%, #FF5384 95%);
  -webkit-background-clip: initial;
  background-clip: initial;
  color: #fff;
  font-family: "sofia-pro", Verdana, sans-serif;
  border-radius: 99999px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.156875em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: 300ms ease-out;
}
.wp-block-button__link span {
  font-size: 42px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -8px;
  margin-right: -0.6em;
  margin-left: 0.35em;
}

.is-style-disabled .wp-block-button__link {
  opacity: 0.5;
  pointer-events: none;
}

.is-style-arrow .wp-block-button__link:after {
  font-family: "icomoon";
  content: "";
  font-size: 42px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -8px;
  margin-right: -0.74em;
  margin-left: 0.35em;
}

.is-style-small .wp-block-button__link {
  font-size: 0.875rem;
  line-height: 50px;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
}

.wp-block-button {
  margin: 0;
}

.wp-block-button .has-yellow-background-color,
.button-poster,
.button-secondary,
.button-white {
  background: #FDC200;
  border: 3px solid transparent;
  color: #15173E;
  box-shadow: 0 0 21px 0 rgba(61, 128, 223, 0.48);
}

.button-webinar {
  background-color: #C0ACE9;
}

hr {
  border-style: none;
  border-bottom: 3px solid #C0ACE9;
  margin-bottom: 1.875em;
}

.has-white-background-color hr {
  border-color: #E3D5FF;
}

.has-white-background-color {
  background-color: #EEE8FB;
  color: #C0ACE9;
  border-color: #E3D5FF;
}

.has-white-background-color li:before {
  color: #C0ACE9;
}

.has-white-background-color .site-description,
.has-white-background-color .lead {
  color: #C0ACE9;
}

.has-white-background-color .tag-bubble {
  color: #C0ACE9;
}

.has-white-background-color .bubble {
  background-color: #E3D5FF;
  color: #C0ACE9;
}

.has-white-background-color a.bubble:hover,
.has-white-background-color .tag-bubble:hover .bubble {
  background-color: #C0ACE9;
  color: #E3D5FF;
}

.has-white-background-color button:disabled,
.has-white-background-color input[type=button]:disabled {
  background-color: #E3D5FF;
  color: #C0ACE9;
}

.bg-beige {
  background-color: #f7f7f7;
}

.bg-beige .tag-bubble:hover {
  color: #c0bebe;
}

.bg-beige .bubble {
  background-color: #ebeaea;
}

.bg-beige a.bubble:hover,
.bg-beige .tag-bubble:hover .bubble {
  background-color: #c0bebe;
  color: #f7f7f7;
}

.is-root-container {
  background: linear-gradient(132deg, #172251 0%, #091429 100%);
}

.editor-styles-wrapper .is-root-container h1 {
  color: #E3D5FF;
  text-shadow: 0 0 22px rgba(154, 115, 226, 0.75);
}

.editor-styles-wrapper .is-root-container h3,
.editor-styles-wrapper p.is-style-lead {
  color: #fff;
}

.editor-styles-wrapper p {
  color: #E3D5FF;
}

/* Groups */
.editor-styles-wrapper .is-root-container {
  color: white;
}

.editor-styles-wrapper .is-root-container .is-style-accent,
.editor-styles-wrapper .is-root-container .accent-style {
  color: #C0ACE9;
}

.editor-styles-wrapper .is-root-container .has-white-background-color h2,
.editor-styles-wrapper .is-root-container .has-white-background-color .h2,
.editor-styles-wrapper .is-root-container .has-white-background-color h1,
.editor-styles-wrapper .is-root-container .has-white-background-color .h1,
.editor-styles-wrapper .is-root-container .has-white-background-color h3,
.editor-styles-wrapper .is-root-container .has-white-background-color .h3,
.editor-styles-wrapper .is-root-container .has-white-background-color h4,
.editor-styles-wrapper .is-root-container .has-white-background-color .h4 {
  background: linear-gradient(270deg, #022C77 2%, #031220 100%) no-repeat top left/cover;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.editor-styles-wrapper .is-root-container .has-white-background-color h2.is-style-accent, .editor-styles-wrapper .is-root-container .has-white-background-color h2.accent-style,
.editor-styles-wrapper .is-root-container .has-white-background-color .h2.is-style-accent,
.editor-styles-wrapper .is-root-container .has-white-background-color .h2.accent-style,
.editor-styles-wrapper .is-root-container .has-white-background-color h1.is-style-accent,
.editor-styles-wrapper .is-root-container .has-white-background-color h1.accent-style,
.editor-styles-wrapper .is-root-container .has-white-background-color .h1.is-style-accent,
.editor-styles-wrapper .is-root-container .has-white-background-color .h1.accent-style,
.editor-styles-wrapper .is-root-container .has-white-background-color h3.is-style-accent,
.editor-styles-wrapper .is-root-container .has-white-background-color h3.accent-style,
.editor-styles-wrapper .is-root-container .has-white-background-color .h3.is-style-accent,
.editor-styles-wrapper .is-root-container .has-white-background-color .h3.accent-style,
.editor-styles-wrapper .is-root-container .has-white-background-color h4.is-style-accent,
.editor-styles-wrapper .is-root-container .has-white-background-color h4.accent-style,
.editor-styles-wrapper .is-root-container .has-white-background-color .h4.is-style-accent,
.editor-styles-wrapper .is-root-container .has-white-background-color .h4.accent-style {
  color: #C0ACE9;
}

.editor-styles-wrapper .is-root-container .has-white-background-color h2 {
  color: #C0ACE9;
}

.is-root-container .has-white-background-color p,
.is-root-container .has-white-background-color li,
.is-root-container .has-white-background-color p.is-style-lead {
  color: #8E8B8A;
}

.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
  font-family: "sofia-pro", Verdana, sans-serif;
  font-weight: 700;
}

.editor-styles-wrapper .wp-block {
  max-width: 1080px;
}

.editor-styles-wrapper .is-style-lead {
  font-family: "sofia-pro", Verdana, sans-serif;
  font-weight: 600;
  font-size: 1.375;
}

.editor-styles-wrapper p {
  margin-top: 0;
  margin-bottom: 2em;
  line-height: 2;
  font-family: "neuzeit-grotesk", Tahoma, sans-serif;
  font-weight: 400;
  line-height: 1.875;
}

.editor-styles-wrapper .is-style-accent {
  font-family: "roboto-mono", "Lucida Console", monospace;
  text-transform: uppercase;
  letter-spacing: 0.128696em;
  line-height: 1.6;
  font-size: 1.063rem;
  margin-bottom: 0.75rem;
  line-height: 1.4;
}

.licensing-cta {
  background: linear-gradient(270deg, #022C77 2%, #031220 100%);
  color: #fff;
  text-align: center;
  max-width: 450px;
}

.licensing-cta .sphere {
  display: none;
}
